body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image:url(file:///c|/Code/santiagoliraey.github.io/background.jpg);
  background-repeat: repeat;
}
#wrapper {
  width: 1000px;
  margin: 20px auto 20px auto;
}
h1{color:#2C2A48}
h2{color:#2C2A48}
h2{font-size:18px}
h3{color:#2C2A48}
h3{font-size:10px}
h3{margin:30px}
h4{color:#2C2A48}
h4{font-size:18px}
h4{font-style:italic;}
h4{text-decoration:underline;}
h5{color:#655D65}
h5{margin:20px}
h5{font-size:15px}
p{color:#2C2A48}
p{margin:20px}
p{font-size:14px}
ul{color:#2C2A48}
a{color:#2C2A48}
li{color:#2C2A48}
li{font-size:14px}
.link{color:blue;}
#bio{color:red;}
#k{color:#655D65;}
img{margin:15px}