.img { 
  height: 120px;
  text-align: center;
}
.thumbnail{
	background:#D9D9DE;
	margin-right: 5px;
	margin-left: 5px;
}
h1{
	margin-bottom: 40px;
	margin-top: 40px;
	font-family: 'Raleway', sans-serif;
}